@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #232323;
}

#content-box {
    padding: 20px 50px 50px;
    background-color: white;
    max-width: 80%;
    margin: 30px auto;
    display: grid;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.row {
    margin: 5px auto;
}

input[type=text], input[type=email], input[type=number], input[type=date] {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
}

#sex-div {
    display: flex;
    gap: 30px;
}

@media all and (max-width: 576px) {
    #sex-div {
        gap: 5px;
    }
}