@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    /*background-image: linear-gradient(to right, #232323, #5a5a5a);*/
    background-image: linear-gradient(45deg, #232323, #a26848);
}

#content-box {
    padding: 20px 50px 30px 50px;
    background-color: white;
    max-width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    letter-spacing: 1px;
    opacity: 0.9;
}

h1 {
    text-align: center;
    width: 100%;
}

#firstColumn {
    box-sizing: border-box;
    border-right: 1px solid black;
}

#second-column {
    box-sizing: border-box;
    padding-left: 50px;
}

#second-column input {
    max-width: 100%;
    box-sizing: border-box;
}

.column {
    width: 50%;
}

.row {
    width: 100%;
    margin: 30px 0;
}

label {
    display: flex;
    flex-flow: column;
    font-size: medium;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=time] {
    width: 100%;
    max-width: 90%;
    padding: 10px;
    margin: 5px 0;
    font-size: medium;
    border-radius: 10px;
}

input[type=radio] {
    accent-color: green;
    height: 16px;
}

#sex-div {
    display: flex;
    column-gap: 100px;
}

#specialServiceDiv {
    display: none;
    flex-wrap: wrap;
    gap: 10px 50px;
}

#noteCheckboxDiv {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

#noteCheckboxDiv input {
    height: 15px;
    width: 15px;
    accent-color: green;
}

#noteCheckboxDiv label {
    font-size: large;
}

#noteTextAreaDiv {
    display: none;
}

#noteTextArea {
    resize: none;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

#letterCounter {
    float: right;
}

select {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: medium;
    border-radius: 10px;
    box-sizing: border-box;
}

#submitButtonDiv {
    border-top: 1px solid black;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitButtonDiv input {
    padding: 15px 40px;
    font-size: medium;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 10px;
}

#submitButtonDiv input:hover {
    background-color: #005400;
    cursor: pointer;
}

#legend {
    width: 100%;
    text-align: right;
    color: #646464;
    font-size: smaller;
}

@media all and (max-width: 992px) {
    #content-box {
        font-size: larger;
    }

    #firstColumn {
        border-right: none;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }

    .column {
        width: 100%;
    }

    input[type=text], input[type=email], input[type=number], input[type=date], input[type=time] {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 5px 0 5px 5px;
        height: 48px;
        font-size: larger;
    }

    #second-column {
        padding-left: 0;
    }

    select {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 5px 0 5px 5px;
        height: 48px;
    }

    #content-box {
        flex-flow: column;
    }

    #sex-div {
        gap: 30px;
    }
}

@media all and (max-width: 280px) {
    #sex-div {
        flex-flow: column;
        gap: 10px;
    }
}