@font-face {
    font-family: Lato;
    src: url("../resources/fonts/Lato-Regular.ttf");
}

body {
    font-family: Lato, serif;
}

/*Header*/
header h1 {
    font-size: 48px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
}

header h1 a {
    text-decoration: none;
    color: black;
}

/*Main navigation bar*/
#mainNavBar {
    font-size: 24px;
    list-style-type: none;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid black;
}

#mainNavBar li {
    display: inline;
    padding: 15px 25px;
}

#mainNavBar li a:hover {
    color: #a9a9a9;
}

#mainNavBar li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #464646;
}

/*Article*/
article {
    margin: auto;
    width: 80%;
}

article h2 {
    font-size: 32px;
}

#contentBox {
    display: flex;
    width: 100%;
}

.column {
    max-height: 100%;
}

/*Contact and photo column*/
#contactAndPhotoColumn {
    background-color: #7a7a7a;
    width: 25%;
    min-width: 25%;
}

#contact {
    text-align: center;
    padding-bottom: 20px;
}

#contact h4 {
    font-size: large;
    color: #eaeaea;
}

#contact address {
    font-style: normal;
    font-size: medium;
    line-height: 32px;
    color: black;
}

#contact address a {
    text-decoration: none;
}

#photoOfMe {
    width: 100%;
    height: auto;
}

/*Education and skills column*/
#educationAndSkillsColumn {
    background-color: #d2d2d2;
    padding: 30px;
    width: 100%;
}

#education {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#computerSkills {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#computerSkills ul {
    column-count: 2;
}

#languageSkills {
    padding-bottom: 10px;
}

#languageSkills ul {
    column-count: 2;
}

/*Footer*/
footer {
    margin: 20px auto auto auto;
    width: 80%;
    text-align: end;
    border-top: 1px solid black;
    padding: 20px;
}

/*Responsive*/
@media all and (max-width: 768px) {
    #contentBox {
        flex-flow: column;
    }
    #contactAndPhotoColumn {
        width: 100%;
    }
    #educationAndSkillsColumn {
        width: auto;
    }
    #computerSkills ul {
        column-count: 1;
    }
    #languageSkills ul {
        column-count: 1;
    }
}