@font-face {
    font-family: Lato;
    src: url("../resources/font/Lato-Regular.ttf");
}

body {
    font-family: Lato, serif;
}

/*Header*/
header h1 {
    font-size: 48px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
}

header h1 a {
    text-decoration: none;
    color: black;
}

/*Main navigation bar*/
#mainNavBar {
    font-size: 24px;
    list-style-type: none;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid black;
}

#mainNavBar li {
    display: inline;
    padding: 15px 25px;
}

#mainNavBar li a:hover {
    color: #a9a9a9;
}

#mainNavBar li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #464646;
}

/*Article*/
article {
    margin: auto;
    width: 80%;
}

article h2 {
    font-size: 32px;
}

#myPhoto {
    border-radius: 10px;
    width: 233px;
    height: 312px;
}

#contentBox {
    display: flex;
}

#photoWithUL {
    float: left;
    width: 33.33%;
}

.contentBoxParagraph {
    float: left;
    width: 33.33%;
    padding: 0 20px 0 20px;
}