@font-face {
    font-family: Lato;
    src: url("../resources/fonts/Lato-Regular.ttf");
}

body {
    font-family: Lato, serif;
}

/*Header*/
header h1 {
    font-size: 48px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
}

header h1 a {
    text-decoration: none;
    color: black;
}

/*Main navigation bar*/
#mainNavBar {
    font-size: 24px;
    list-style-type: none;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid black;
}

#mainNavBar li {
    display: inline;
    padding: 15px 25px;
}

#mainNavBar li a:hover {
    color: #a9a9a9;
}

#mainNavBar li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #464646;
}

/*Article*/
article {
    margin: auto;
    width: 80%;
}

article h2 {
    font-size: 32px;
}

#contentBox {
    display: flex;
    gap: 70px;
}

#photoAndUL {
    min-width: 25%;
    max-width: 25%;
}

#photoOfMe {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

aside {
    padding: 15px;
    margin: 10px;
    max-width: 50%;
    font-style: italic;
    float: right;
    border: 1px solid black;
}

/*Footer*/
footer {
    margin: 20px auto auto auto;
    width: 80%;
    text-align: end;
    border-top: 1px solid black;
    padding: 20px;
}

/*Responsive*/
@media all and (max-width: 992px) {
    #mainNavBar li {
        display: block;
    }

    article {
        text-align: center;
    }

    #contentBox {
        flex-flow: column;
        gap: 20px;
    }

    #photoAndUL {
        margin: auto;
        min-width: 70%;
        max-width: 70%;
    }

    aside {
        max-width: 100%;
        float: none;
    }
}